* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.pcOnly {
  display: none;
}

@media screen and (min-width: 768px) {
  .pcOnly {
    display: flex;
  }
}

.shakes {
  transform-origin: 50% 0;
}

.wrapper {
  background-color: #F1F1F1;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 98px;
  }
}

header {
  width: 100%;
  height: 98px;
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

header .logo {
  display: inline-block;
}

header .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .nav li {
  margin: 0 45px;
  text-align: center;
}

header .nav li a {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

header .nav li a span {
  font-size: 16px;
  font-style: italic;
}

.top_image {
  width: 100%;
  height: 80vw;
  background-image: url("https://placehold.jp/1000x800.png");
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .top_image {
    height: 800px;
  }
}

.top_image a {
  width: 30%;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .top_image a {
    width: 220px;
    height: 136px;
  }
}

.top_image a img {
  width: 100%;
}

.contents {
  width: 100%;
  height: 300px;
  background-color: #e6e6e6;
}

main {
  max-width: 1180px;
  margin: 0 auto;
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  main {
    padding: 60px 0;
  }
}

main .news {
  padding: 25px 0;
}

main .news h2 {
  margin: 0 0 15px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  main .news h2 {
    margin: 0 0 50px;
  }
}

main .news h2 span {
  font-size: 15px;
  line-height: 15px;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  main .news ul {
    display: flex;
    justify-content: space-between;
  }
}

main .news ul li {
  margin: 5px 0;
  padding: 10px 15px;
  background-color: #fff;
  display: flex;
}

@media screen and (min-width: 768px) {
  main .news ul li {
    width: 32.8%;
    height: 450px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
  }
}

main .news ul li .news-img {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  main .news ul li .news-img {
    width: 100%;
    margin: 0 0 20px;
  }
}

main .news ul li .news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .news ul li .news-main {
  padding-left: 5px;
}

main .news ul li .news-main .news-date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  color: #F79103;
}

@media screen and (min-width: 768px) {
  main .news ul li .news-main .news-date {
    font-size: 14px;
  }
}

main .news ul li .news-main .news-text a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  main .news ul li .news-main .news-text a {
    margin: 15px 0;
    font-size: 22px;
    text-decoration: none;
  }
}

main .news ul li .news-main .news-text p {
  font-size: 14px;
  line-height: 24px;
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  display: inline-block;
}
