@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}

body {
  font-family: 'Kosugi Maru', sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper h1 {
  padding: 20px 0;
  text-align: center;
}

.traces {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .traces {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.traces .trace {
  margin: 20px 0;
}

@media screen and (min-width: 700px) {
  .traces .trace {
    flex-basis: 32%;
  }
}

.traces .trace a {
  display: inline-block;
  width: 100%;
}

.traces .trace a img {
  width: 100%;
}

.traces .trace a .trace_description h2 {
  font-size: 30px;
}

@media screen and (min-width: 700px) {
  .traces .trace a .trace_description h2 {
    font-size: 22px;
  }
}

.traces .trace a .trace_description ul {
  padding-left: 20px;
}

@media screen and (min-width: 700px) {
  .traces .trace a .trace_description ul {
    padding-left: 12px;
  }
}

.traces .trace a .trace_description ul li {
  font-size: 20px;
  line-height: 30px;
}

@media screen and (min-width: 700px) {
  .traces .trace a .trace_description ul li {
    font-size: 14px;
    line-height: 22px;
  }
}

.traces .trace a .trace_description ul li::before {
  content: "・";
}
