@mixin pc {
  @media screen and (min-width: 700px) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}
body {
  font-family: 'Kosugi Maru', sans-serif;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  h1 {
    padding: 20px 0;
    text-align: center;
  }
}
.traces {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  @include pc {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
  }
  .trace {
    margin: 20px 0;
    @include pc {
      flex-basis: 32%;
    }
    a {
      display: inline-block;
      width: 100%;
      img {
        width: 100%;
      }
      .trace_description {
        h2 {
          font-size: 30px;
          @include pc {
            font-size: 22px;
          }
        }
        ul {
          padding-left: 20px;
          @include pc {
            padding-left: 12px;
          }
          li {
            font-size: 20px;
            line-height: 30px;
            @include pc {
              font-size: 14px;
              line-height: 22px;
            }
            &::before {
              content: "・";
            }
          }
        }
      }
    }
  }
}
