@font-face {
	font-family: "Nasu-Regular";
	src: url("../fonts/Nasu-Regular-20141215.ttf") format("ttf");
}

@font-face {
	font-family: "serif_Neuton";
	src: url("../fonts/Neuton-Regular.ttf") format("ttf");
}

/* 画面サイズ設定 */
// スマートフォン用
@mixin mediaSP {
  @media screen and (max-width: 640px) {
    @content;
  }
}
// タブレット・パソコン兼用
@mixin mediaTB {
  @media screen and (min-width: 640px) {
    @content;
  }
}
// パソコン専用
@mixin mediaPC {
  @media screen and (min-width: 124px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: auto;
  min-width: 320px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
