@import "application.scss";

body {
  background-image: url("images/mokume.jpg");
  background-size: contain;
}

.barberBody {
  width: 100%;
  height: auto;
  font-family: "Nasu-Regular";
}

.header {
  width: 100%;
  height: 8vh;
  padding: 0 1.5vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  z-index: 998;
  @include mediaTB {
    height: 60px;
    padding: 0 0 0 20px;
  }
  .logo {
    width: auto;
    height: 40%;
  }
  .menu_link {
    font-size: 4.5vw;
    color: #272727;
    @include mediaTB {
      display: none;
    }
  }
  .header_nav {
    display: none;
    @include mediaTB {
      width: 75%;
      display: -webkit-box;
      display: flex;
      justify-content: space-around;
      -webkit-box-align: center;
              align-items: center;
      li {
        text-align: center;
        a {
          font-size: 1.4rem;
          line-height: 1.2rem;
          color: #000000;
          span {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.top {
  width: 100%;
  height: 56vh;
  margin-bottom: 5vw;
  position: relative;
  background-color: #ffffffa2;
  @include mediaTB {
    height: 650px;
    margin-bottom: 30px;
  }
  .top_back {
    width: 100%;
    height: 100%;
    background-image: url("images/barber.jpg");
    background-size: cover;
    background-position: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
    @include mediaTB {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    }
  }
  .migishita {
    position: absolute;
    bottom: 0;
    right: 2%;
    text-align: right;
    color: #1f1f1f;
    line-height: 3.8vw;
    font-size: 2.6vw;
    @include mediaTB {
      line-height: 3rem;
      font-size: 1.8rem;
    }
    span {
      font-size: 5vw;
      font-family: "serif_Neuton";
      @include mediaTB {
        font-size: 4.4rem;
      }
    }
  }
}

.div_common {
  width: 100%;
  margin: 0 auto 10vw;
  @include mediaTB {
    margin-bottom: 100px;
  }
  h1 {
    margin-bottom: 1vw;
    font-family: "serif_Neuton";
    text-align: center;
    font-size: 6vw;
    letter-spacing: 0.5vw;
    color: #ffffff;
    @include mediaTB {
      margin-bottom: 10px;
      font-size: 2.2rem;
      letter-spacing: 4px;
    }
  }
}

.news {
  @include mediaTB {
    width: 95%;
    max-width: 1200px;
  }
  .news_main {
    width: 100%;
    li {
      margin-bottom: 1vw;
      @include mediaTB {
        margin-bottom: 12px;
      }
      .news_head {
        margin: 0 auto;
        max-width: 800px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        color: #cecece;
        .news_date {
          width: 25%;
          font-size: 3.5vw;
          text-align: center;
          @include mediaTB {
            font-size: 1.6rem;
          }
        }
        .news_title {
          width: 65%;
          font-size: 3.5vw;
          color: #ffffff;
          @include mediaTB {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  .news_more {
    width: 100%;
    text-align: center;
    a {
      font-size: 3vw;
      color: #cecece;
      @include mediaTB {
        font-size: 1.4rem;
      }
    }
  }
}

.service {
  max-width: 1000px;
  .service_content {
    width: 70%;
    margin: 0 auto;
    @include mediaTB {
      width: 55%;
    }
    h2 {
      font-size: 4vw;
      color: #ffffff;
      @include mediaTB {
        font-size: 2rem;
      }
    }
    ul {
      width: 80%;
      margin: 0 auto;
      color: #cecece;
      li {
        width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        font-size: 4vw;
        @include mediaTB {
          font-size: 2rem;
        }
      }
    }
  }
}

.access {
  width: 100%;
  max-width: 800px;
  @include mediaTB {
    width: 95%;
  }
  .access_flex {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    @include mediaTB {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
    }
    .google_map {
      width: 100%;
      margin: 0 auto 20px;
      position: relative;
      padding-bottom: 80%;
      height: 0;
      overflow: hidden;
      @include mediaTB {
        width: 50%;
        padding-bottom: 50%;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    table {
      font-size: 4vw;
      @include mediaTB {
        width: 50%;
        font-size: 1.5rem;
      }
      tr {
        @include mediaTB {
          height: 80px;
        }
        th {
          width: 25%;
          color: #ffffff;
        }
        td {
          width: 75%;
          color: #cecece;
          .tel {
            color: #cecece;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #000000;
  p {
    font-size: 2vw;
    color: #9c9c9c;
    text-align: center;
    @include mediaTB {
      font-size: 0.8rem;
    }
  }
}
