@import "application.scss";

body {
  background-color: #2e2e2e;
}

.homeBody {
  width: 100%;
  height: auto;
}

.top {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-image: url("images/top.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  @include mediaSP {
    background-attachment: scroll;
    min-height: auto;
    background-position: 65% 90%;
  }

  .topShadow {
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: table;

    .shi {
      font-family: "serif_Neuton";
      text-align: center;
      color: rgb(255, 255, 0);
      font-size: 2.6rem;
      display: table-cell;
      vertical-align: middle;
      white-space: pre;
      @include mediaSP {
        font-size: 5vw;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .author {
      line-height: 6rem;
      font-size: 2rem;
      @include mediaSP {
        margin-top: 10vw;
        font-size: 4vw;
      }
    }
  }
}

.greeting_and_content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: auto;
  box-shadow: 0 14px 24px #000000;
  background-image: url("images/background.jpg");
  background-size: contain;
}

.greeting {
  width: 100%;
  padding: 200px 0 280px;
  overflow: hidden;
  @include mediaSP {
    padding: 0;
  }

  .greetingMain {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    vertical-align: middle;
    @include mediaSP {
      padding: 15vw 0 40vw;
    }

    .greetingLeft {
      width: 70%;
      height: 100%;
      color: #131313;
      @include mediaSP {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
      }

      @include mediaTB {
        .yoko {
          width: 620px;
          transform: rotate(-3deg);
        }
        .tate {
          display: none;
        }
      }
      @include mediaSP {
        .tate {
          width: 16vw;
          margin: 0 auto;
          transform: rotate(-3deg);
        }
        .yoko {
          display: none;
        }
      }

      .greetingText {
        font-family: "mincho_ipam";
        font-weight: bold;
        margin: 40px 0 20px;
        font-size: 1.6rem;
        line-height: 3rem;
        @include mediaSP {
          margin: 0;
          padding: 16vw;
          font-size: 5vw;
          line-height: 8vw;
          writing-mode: vertical-rl;
        }
        .arittake {
          font-weight: bold;
          font-size: 2.5rem;
          @include mediaSP {
            font-size: 6.5vw;
          }
        }
        .skills {
          color: #181818;
          font-size: 1.6rem;
          padding-left: 0.3rem;
          @include mediaSP {
            font-size: 4vw;
            padding: 1.5vw 0 0 0;
          }
        }
        .links {
          a {
            margin: 0 35px;
            color: #0017e4;
            &:last-child {
              margin: 0;
            }
            @include mediaSP {
              margin: 6vw 0;
            }
          }
        }
      }
    }

    .greetingImage {
      position: absolute;
      z-index: -1;
      width: 280px;
      height: auto;
      top: 25%;
      right: 10%;
      transform: rotate(12deg);
      box-shadow: 0 16px 16px -10px #313131;
      @include mediaSP {
        width: 55vw;
        position: absolute;
        top: 45%;
        right: 10%;
        box-shadow: 0 2vw 2vw -2vw #313131;
      }
    }
  }
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 40px;
  text-align: center;
  font-family: "ipaexg";
  @include mediaSP {
    margin: 0 auto 9vw;
  }
  &:last-child {
    margin: 0 auto;
  }
  h1 {
    font-size: 3rem;
    @include mediaSP {
      font-size: 6.8vw;
    }
  }
  p {
    margin: 5px 0 10px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    @include mediaSP {
      margin: 1.5vw 0 3vw;
      font-size: 3.8vw;
      line-height: 4.4vw;
    }
  }
  .content_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    li {
      width: 33.33%;
      height: 120px;
      border: 1px solid white;
      box-sizing: border-box;
      position: relative;
      box-shadow: 3px 3px 12px #000000;
      background-color: #a1a1a1;
      // home
      a[href="/"] {
        background-image: url("images/home.png");
      }
      // home
      a[href='https://mecha-better.ml'] {
        background-image: url("images/mecha_better.jpg");
      }
      // map_app
      a[href="https://github.com/mi-miya/map_app"] {
        background-image: url("images/map_app.png");
      }
      // nogishot
      a[href="https://github.com/mi-miya/nogishot"] {
        background-image: url("images/nogishot.png");
      }
      // dem_to_png
      a[href='https://gist.github.com/mi-miya/b02fcb6962325d02f4cec395d13547f8'] {
        background-image: url("images/dem.png");
      }
      // shortestPath
      a[href='https://gist.github.com/mi-miya/28f6f96af6808e5dc84575b16f3d00f6'] {
        background-image: url("images/keiro.png");
      }
      // weather
      a[href="#"] {
        background-image: url("images/weather.png");
      }
      // idol
      a[href="/traces/idol"] {
        background-image: url("images/idol.png");
      }
      // landing
      a[href="/traces/landing"] {
        background-image: url("images/landing.png");
      }
      // blog
      a[href="/traces/hatena-blog"] {
        background-image: url("images/blog.png");
      }
      // barber
      a[href="/traces/barber"] {
        background-image: url("images/barber.png");
      }
      // google news
      a[href="/traces/news"] {
        background-image: url("images/news.png");
      }
      // form
      a[href="#"] {
        background-image: url("images/form.png");
      }
      @include mediaSP {
        width: 50%;
        height: 30vw;
      }
      a {
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        p {
          width: 100%;
          height: 100%;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: white;
          font-size: 1.5rem;
          background-color: rgba(0, 0, 0, 0.5);
          @include mediaSP {
            font-size: 3vw;
          }
          .design_head {
            font-size: 1.8rem;
            text-decoration: underline;
            font-weight: bold;
            @include mediaSP {
              font-size: 4vw;
            }
          }
        }
      }
    }
  }
}

.spacing_block {
  width: 100%;
  height: 600px;
  pointer-events: none;
  @include mediaSP {
    height: 70vh;
  }
}

.mail {
  width: 100%;
  height: 600px;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: table;
  @include mediaSP {
    height: 70vh;
  }
  .mailLink {
    display: table-cell;
    vertical-align: middle;
    a {
      font-size: 3rem;
      text-decoration: underline;
      color: white;
      &:hover {
        font-size: 3.5rem;
      }
      @include mediaSP {
        font-size: 5vw;
        &:hover {
          font-size: 6vw;
        }
      }
    }
    p {
      font-size: 2.2rem;
      color: white;
      @include mediaSP {
        font-size: 4vw;
      }
    }
  }
}
