* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  color: #FF3232;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper #nav_icon {
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  padding: 22.5px 20px;
  box-sizing: border-box;
  background-color: #FF3232;
  z-index: 1000;
}

.wrapper #nav_icon .icon_line {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.wrapper #nav_icon .icon_line span {
  transition: transform 120ms linear;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.wrapper #nav_icon .icon_line span:nth-child(2) {
  width: 80%;
}

.wrapper .clickNavIcon .icon_line span {
  width: 40px !important;
  position: absolute;
  top: 50%;
  left: -14%;
}

.wrapper .clickNavIcon .icon_line span:nth-child(1) {
  transform: rotate(45deg);
}

.wrapper .clickNavIcon .icon_line span:nth-child(2) {
  width: 0% !important;
}

.wrapper .clickNavIcon .icon_line span:nth-child(3) {
  transform: rotate(-45deg);
}

.wrapper #modal {
  pointer-events: none;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #FF3232;
  transition: opacity 200ms;
  opacity: 0;
  z-index: 999;
}

.wrapper #modal .logo {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.wrapper #modal div {
  padding: 40px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper #modal div a {
  margin: 16px 0;
  display: inline-block;
  color: #fff;
}

#bg_dot {
  background-image: url("images/dot.png");
  background-size: 300px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#bg_dot .bg_image {
  width: 20%;
  position: absolute;
  opacity: 0;
  z-index: -1000;
  transition: opacity 500ms;
}

@media screen and (min-width: 768px) {
  #bg_dot .bg_image {
    width: 12%;
  }
}

#bg_dot .top {
  padding: 200px 0 100px;
  text-align: center;
}

#bg_dot .top .top_title {
  margin: 0 0 40px;
}

#bg_dot .top .top_title img {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
}

#bg_dot .top .top_student img {
  width: 30%;
  max-width: 300px;
}

#bg_dot .message {
  z-index: 100;
  padding: 0 0 80px;
  text-align: center;
}

#bg_dot .message h2 {
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  #bg_dot .message h2 {
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0 0 50px;
  }
}

#bg_dot .message .message_text {
  width: 85%;
  max-width: 570px;
  margin: 0 auto 50px;
}

#bg_dot .message .message_text p {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}

#bg_dot .message .message_video a {
  transition: 200ms opacity;
}

#bg_dot .message .message_video a:hover {
  opacity: 0.9;
}

.links {
  padding: 40px 0;
  background-color: #E8E8E8;
}

.links .links_wrapper {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.links .links_wrapper .link {
  width: 88%;
  margin: 0 0 30px;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  transition: box-shadow 150ms;
  box-shadow: 0 0 0 5px transparent;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link {
    width: 720px;
    overflow: hidden;
  }
}

.links .links_wrapper .link:hover {
  box-shadow: 0 0 0 5px #FF3232;
}

.links .links_wrapper .link:hover a > .link_readmore {
  color: #FF3232;
}

.links .links_wrapper .link a {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 35px 60px 35px 30px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link a {
    padding: 35px 80px 35px 40px;
    flex-direction: row;
  }
}

.links .links_wrapper .link a img {
  width: 40%;
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link a img {
    width: 220px;
  }
}

.links .links_wrapper .link a .link_readmore {
  position: absolute;
  top: 20%;
  right: -4%;
  transform: rotate(90deg);
  white-space: nowrap;
  font-size: 14px;
  color: #2826a8;
  transition: color 150ms;
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link a .link_readmore {
    top: 22%;
    right: 0%;
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link a .link_text {
    padding-left: 30px;
  }
}

.links .links_wrapper .link a .link_text h3 {
  margin: 20px 0;
  font-size: 20px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link a .link_text h3 {
    line-height: 30px;
  }
}

.links .links_wrapper .link a .link_text h3 span {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link a .link_text h3 span {
    font-size: 16px;
  }
}

.links .links_wrapper .link a .link_text p {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link a .link_text p {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
  }
}

.links .links_wrapper .link_block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .links .links_wrapper .link_block {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .links .links_wrapper .link_block .link {
    width: 48.5%;
    padding: 40px;
    box-sizing: border-box;
  }
  .links .links_wrapper .link_block .link a {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .links .links_wrapper .link_block .link a img {
    width: 40%;
  }
  .links .links_wrapper .link_block .link a .link_text {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .links .links_wrapper .link_block .link a .link_readmore {
    top: 18%;
  }
}

.company {
  background-color: #FF3232;
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .company {
    padding: 100px 0;
  }
}

.company a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company a h2 {
  margin: 20px 0 40px;
  font-size: 18px;
  color: #fff;
}

.company a p {
  font-size: 14px;
  color: #fff;
}

.company a .readmore {
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  border-bottom: 1px solid #fff;
}

.company:hover {
  background-color: #ff4848;
}

footer {
  padding: 80px 0 0;
  text-align: center;
}

footer .page_top {
  margin: 0 0 60px;
}

footer .page_top a {
  display: inline-block;
}

footer .page_top a img {
  vertical-align: bottom;
}

footer .footer_nav {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1240px) {
  footer .footer_nav {
    padding: 30px;
    justify-content: center;
  }
}

footer .footer_nav li {
  width: 50%;
  padding: 15px 0;
  border: 1px solid #FF3232;
  box-sizing: border-box;
}

@media screen and (min-width: 1240px) {
  footer .footer_nav li {
    width: auto;
    margin: 0 30px;
    border: none;
  }
}

footer .footer_nav li:nth-child(2n) {
  border-right: none;
  border-left: none;
}

footer .footer_nav li:nth-child(2n-1) {
  border-left: none;
}

footer .footer_nav li:nth-child(n+3) {
  border-top: none;
}

footer .footer_nav li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-weight: bold;
  color: #FF3232;
}

@media screen and (min-width: 1240px) {
  footer .footer_nav li a {
    font-size: 12px;
    letter-spacing: 3px;
  }
}

footer .footer_bottom {
  padding: 20px;
  background-color: #FF3232;
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 1240px) {
  footer .footer_bottom {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

footer .footer_bottom .footer_links {
  margin: 0 0 25px;
}

@media screen and (min-width: 1240px) {
  footer .footer_bottom .footer_links {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
}

footer .footer_bottom .footer_links li {
  padding: 0 14px;
}

@media screen and (min-width: 1240px) {
  footer .footer_bottom .footer_links li {
    height: 15px;
    border-right: 1px solid #fff;
  }
  footer .footer_bottom .footer_links li:last-child {
    border-right: none !important;
  }
}

footer .footer_bottom .footer_links li a {
  vertical-align: top;
  color: #fff;
  font-size: 10px;
}

footer .footer_bottom .copyright p {
  font-size: 10px;
  color: #fff;
}
