$theme_color: #FF3232;
$pc: 768px;
$large_pc: 1240px;
@mixin media($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, p {
  color: $theme_color;
}
.spOnly {
  @include media($pc) {
    display: none;
  }
}
.wrapper {
  position: relative;
  overflow: hidden;
  #nav_icon {
    position: fixed;
      top: 0;
      right: 0;
    width: 70px;
    height: 70px;
    padding: 22.5px 20px;
    box-sizing: border-box;
    background-color: $theme_color;
    z-index: 1000;
    @include media($pc) {
      width: 110px;
      height: 110px;
      padding: 35px 25px;
    }
    .icon_line {
      width: 30px;
      height: 25px;
      display: flex;
        flex-direction: column;
        justify-content: space-between;
      position: relative;
      @include media($pc) {
        width: 65px;
        height: 35px;
      }
      span {
        transition: transform 120ms linear;
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        &:nth-child(2) {
          width: 80%;
        }
      }
    }
  }
  .clickNavIcon {
    .icon_line {
      span {
        width: 40px !important;
        position: absolute;
          top: 50%;
          left: -14%;
        @include media($pc) {
          width: 50px !important;
        }
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          width: 0% !important;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  #modal {
    pointer-events: none;
    display: inline-block;
    position: fixed;
      top: 0;
      left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: $theme_color;
    transition: opacity 200ms;
    opacity: 0;
    z-index: 999;
    .logo {
      color: #fff;
      font-weight: bold;
      font-size: 30px;
    }
    div {
      padding: 40px 0 0;
      text-align: center;
      display: flex;
        flex-direction: column;
        align-items: center;
      a {
        margin: 16px 0;
        display: inline-block;
        color: #fff;
      }
    }
  }
}
#bg_dot {
  background-image: url('images/dot.png');
  background-size: 300px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .bg_image {
    width: 20%;
    position: absolute;
    opacity: 0;
    z-index: -1000;
    transition: opacity 500ms;
    @include media($pc) {
      width: 12%;
    }
  }
  .top {
    padding: 300px 0 130px;
    text-align: center;
    @include media($pc) {
      padding: 265px 0 224px;
    }
    @include media($large_pc) {
      padding: 265px 0 410px;
    }
    .top_title {
      margin-bottom: 40px;
      @include media($pc) {
        margin-bottom: 0;
      }
      img {
        width: 50%;
        max-width: 300px;
        margin: 0 auto;
        @include media($pc) {
          margin-bottom: 14px;
        }
      }
      p {
        font-size: 9px;
        line-height: 1.8;
        @include media($pc) {
          letter-spacing: 2px;
          font-size: 12px;
          line-height: 2;
        }
      }
    }
    .top_student {
      img {
        width: 36%;
        max-width: 300px;
      }
    }
  }
  .message {
    z-index: 100;
    padding: 0 0 110px;
    text-align: center;
    @include media($pc) {
      padding: 0 0 150px;
    }
    h2 {
      margin-bottom: 10vw;
      font-size: 30px;
      letter-spacing: 4px;
      @include media($pc) {
        margin-bottom: 45px;
        font-size: 72px;
        letter-spacing: 12px;
        margin: 0 0 50px;
      }
      @include media($large_pc) {
        font-size: 82px;
        letter-spacing: 8px;
      }
    }
    .message_text {
      width: 85%;
      max-width: 570px;
      margin: 0 auto 50px;
      @include media($pc) {
        margin: 0 auto 70px;
      }
      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 2;
        @include media($pc) {
          font-size: 20px;
          line-height: 2.2;
        }
      }
    }
    .message_video {
      width: 55vw;
      height: 24vw;
      margin: 0 auto;
      a {
        transition: 200ms opacity;
        @include media($pc) {
          display: inline-block;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
.links {
  padding: 100px 0;
  background-color: #E8E8E8;
  @include media($pc) {
    padding: 140px 0 84px;
  }
  .links_wrapper {
    max-width: 710px;
    margin: 0 auto;
    display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    .link {
      width: 88%;
      margin-bottom: 30px;
      box-sizing: border-box;
      position: relative;
      background-color: #fff;
      transition: box-shadow 150ms;
      box-shadow : 0 0 0 5px transparent;
      border-radius: 20px;
      @include media($pc) {
        width: 100%;
        margin-bottom: 40px;
        overflow: hidden;
      }
      &:hover {
        box-shadow : 0 0 0 5px $theme_color;
        a > .link_readmore {
          color: $theme_color;
        }
      }
      a {
        display: flex;
          align-items: center;
          flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 50px 65px 35px 35px;
        box-sizing: border-box;
        border-radius: 20px;
        text-align: center;
        @include media($pc) {
          padding: 35px 80px 60px 40px;
          flex-direction: row;
        }
        img {
          width: 70%;
          @include media($pc) {
            width: 260px;
          }
        }
        .link_readmore {
          position: absolute;
            top: 20%;
            right: -4%;
          transform: rotate(90deg);
          white-space: nowrap;
          font-size: 14px;
          color: #2826a8;
          transition: color 150ms;
          @include media($pc) {
            top: 22%;
            right: 0%;
            font-size: 11px;
          }
        }
        .link_text {
          @include media($pc) {
            padding-left: 30px;
          }
          h3 {
            margin: 30px 0 22px;
            font-size: 20px;
            line-height: 24px;
            @include media($pc) {
              margin: 28px 0 44px;
              font-size: 24px;
              line-height: 1.2;
            }
            span {
              font-size: 12px;
              @include media($pc) {
                font-size: 16px;
              }
            }
          }
          p {
            font-size: 14px;
            line-height: 1.95;
            letter-spacing: 2px;
            text-align: left;
            @include media($pc) {
              font-size: 12px;
              line-height: 24px;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
    .link_block {
      display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
      @include media($pc) {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        .link {
          width: 48.5%;
          padding: 40px;
          box-sizing: border-box;
          a {
            flex-direction: column;
            align-items: center;
            padding: 20px;
            img {
              width: 66%;
            }
            .link_text {
              padding: 0;
            }
            .link_readmore {
              @include media($pc) {
                top: 18%;
              }
            }
          }
        }
      }
    }
  }
}
.company {
  background-color: $theme_color;
  padding: 90px 0 30px;
  @include media($pc) {
    padding: 150px 0 94px;
  }
  a {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    h2 {
      margin: 14px 0 40px;
      font-size: 19px;
      letter-spacing: 5px;
      color: #fff;
      @include media($pc) {
        margin: 38px 0 44px;
        font-size: 24px;
        letter-spacing: 3px;
      }
    }
    p {
      font-size: 12px;
      letter-spacing: 2px;
      font-weight: bold;
      color: #fff;
    }
    .readmore {
      display: inline-block;
      font-size: 10px;
      line-height: 20px;
      border-bottom: 1px solid #fff;
    }
  }
  &:hover {
    background-color: #ff4848;
  }
}
footer {
  padding: 70px 0 0;
  text-align: center;
  @include media($pc) {
    padding: 124px 0 0;
  }
  .page_top {
    margin: 0 0 80px;
    @include media($pc) {
      margin: 0 0 108px;
    }
    a {
      display: inline-block;
      margin-bottom: 34px;
      @include media($pc) {
        margin-bottom: 52px;
      }
      img {
        vertical-align: bottom;
      }
    }
    .bottom_logo {
      img {
        width: 50%;
        @include media($pc) {
          width: 270px;
        }
      }
      p {
        font-size: 10px;
        line-height: 2;
        @include media($pc) {
          font-size: 8px;
        }
      }
    }
  }
  .footer_nav {
    display: flex;
      flex-wrap: wrap;
    @include media($large_pc) {
      padding: 30px;
      justify-content: center;
    }
    li {
      width: 50%;
      padding: 20px 0;
      border: 1px solid $theme_color;
      box-sizing: border-box;
      @include media($pc) {
        padding: 56px 0;
      }
      @include media($large_pc) {
        width: auto;
        margin: 0 30px;
        border: none;
      }
      &:nth-child(2n) {
        border-right: none;
        border-left: none;
      }
      &:nth-child(2n-1) {
        border-left: none;
      }
      &:nth-child(n+3) {
        border-top: none;
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 10px;
        font-weight: bold;
        color: $theme_color;
        @include media($large_pc) {
          font-size: 12px;
          letter-spacing: 3px;
        }
      }
    }
  }
  .footer_bottom {
    padding: 40px 0 80px;
    background-color: $theme_color;
    display: flex;
      flex-direction: column-reverse;
    @include media($large_pc) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
    .footer_links {
      margin: 0 0 25px;
      @include media($large_pc) {
        margin: 0;
        display: flex;
          justify-content: flex-end;
      }
      li {
        padding: 0 14px;
        @include media($large_pc) {
          height: 15px;
          border-right: 1px solid #fff;
          &:last-child {
            border-right: none !important;
          }
        }
        a {
          vertical-align: top;
          color: #fff;
          font-size: 10px;
        }
      }
    }
    .copyright {
      p {
        font-size: 10px;
        color: #fff;
      }
    }
  }
}
