@import "application.scss";

$tb_header_height: 75px;
$sp_header_height: 16vw;

h1,
h2,
p,
a {
  font-family: "Nasu-Regular";
}

.landingBody {
  font-family: "rounded-mplus-1m-light";
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: $sp_header_height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  @include mediaTB {
    height: $tb_header_height;
  }
  .logo {
    width: auto;
    height: 40%;
    padding-left: 2.5vw;
    @include mediaTB {
			height: 30%;
      padding-left: 20px;
    }
  }
  .header_nav {
    display: flex;
    align-items: center;
    padding-right: 2vw;
    @include mediaTB {
      padding-right: 10px;
    }
    li {
      margin: 0 1.5vw;
      @include mediaTB {
        margin: 0 10px;
      }
      a {
        font-size: 4vw;
        color: #ffffff;
        @include mediaTB {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.top {
  height: 80vh;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/landing.jpg");
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 1vw 4vw #868686;
  z-index: 2;
  @include mediaTB {
    padding: 60px 30px;
    height: 100vh;
    max-height: 1000px;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: 0 4px 10px #868686;
  }

  .top_center {
    color: white;
    h1 {
      font-family: "mincho_Aozora";
      font-size: 10vw;
      margin-bottom: 4vw;
			font-weight: bold;
			letter-spacing: 4px;
      @include mediaTB {
        font-size: 6rem;
        margin-bottom: 50px;
      }
    }
    p {
      font-size: 5vw;
      line-height: 6vw;
      @include mediaTB {
        font-size: 2rem;
        line-height: 3.8rem;
      }
    }
  }
}

.contents {
  margin: 20vw auto;
  width: 90vw;
  @include mediaTB {
    width: 95%;
    max-width: 1024px;
    margin: 100px auto;
    display: flex;
    align-items: center;
  }
  img {
    width: 100%;
    height: auto;
    @include mediaTB {
      width: 40%;
    }
  }

  .contents_text {
    @include mediaTB {
      width: 60%;
      padding: 0 2rem;
    }
    h2 {
      font-family: "mgenplus";
      font-size: 6vw;
      text-align: center;
      @include mediaTB {
        font-size: 3.6rem;
      }
    }
    p {
      font-size: 4.2vw;
      text-align: left;
      @include mediaTB {
        font-size: 1.6rem;
      }
    }
  }
}

.performance_list {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
  @include mediaTB {
		justify-content: center;
  }
  li {
    width: 40%;
    margin: 4vw 0;
    text-align: center;
    @include mediaTB {
      width: 30%;
      margin: 20px 0;
    }
    h3 {
      color: #ff5e00;
      font-size: 6vw;
      @include mediaTB {
        font-size: 2.2rem;
      }
    }
    p {
      font-size: 7vw;
      font-weight: bold;
      @include mediaTB {
        font-size: 2.6rem;
      }
    }
  }
}

.items {
  padding-bottom: 14vw;
  @include mediaTB {
    padding-bottom: 100px;
  }
  .item_list {
    margin: 10vw auto;
    width: 90vw;
    @include mediaTB {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    li {
      margin: 6vw 0 8vw;
      @include mediaTB {
        width: 50%;
        max-width: 500px;
        margin: 40px 0;
        padding: 0 4%;
      }
      img {
        width: 90%;
        height: auto;
      }
      div {
        .item_name {
          font-size: 6vw;
					font-weight: bold;
          @include mediaTB {
            font-size: 2.4rem;
          }
        }
        .item_description {
          margin: 2vw 0 3vw;
          font-size: 3.6vw;
          @include mediaTB {
            margin: 15px 0;
            font-size: 1.4rem;
          }
        }
        .item_value {
          text-decoration: underline;
          font-size: 3.6vw;
					text-align: right;
          @include mediaTB {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .perchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      display: inline-block;
      padding: 2vw 6vw;
      color: #ffffff;
      font-size: 5vw;
      border-radius: 6vw;
			box-shadow: 1px 1px 3px #585858;
      @include mediaTB {
        padding: 1rem 8rem;
        font-size: 1.8rem;
        border-radius: 2.5rem;
      }
    }
    .pay {
			background-color: #ff7b00;
      &:hover {
				background-color: #ffb46e;
      }
    }
    .contact {
      margin-top: 6vw;
      background-color: #4d4d4d;
      &:hover {
				background-color: #7e7e7e;
      }
      @include mediaTB {
        margin-top: 20px;
      }
    }
  }
}

.footer {
  background-color: #d4d4d4;
  .footer_nav {
    padding: 4vw 0 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mediaTB {
      padding: 50px 0 60px;
      flex-direction: row;
    }
    li {
      @include mediaTB {
        padding: 0 16px;
      }
      a {
        color: #000000;
        font-size: 3vw;
        line-height: 5vw;
        @include mediaTB {
          font-size: 1rem;
          line-height: normal;
        }
      }
    }
  }
  .copyright {
    text-align: center;
    font-size: 1vw;
    @include mediaTB {
      font-size: 1rem;
    }
  }
}
